---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import Navigation from '../components/Navigation.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Search from '../components/Search.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0, 5);

const postsCount = posts.length > 5 ? 5 : posts.length;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="h-screen w-screen flex flex-col">
		<main class="
			w-full m-[0]
			bg-(--panel-main) flex-auto
			flex flex-col
			items-center
			justify-center">
			<div class="w-1/2 max-w-[700px] h-1/20 p-[5px] bg-(--bar-main) shadow-md rounded-[5px] p-[5px] flex items-center">
				<Search />
			</div>
			<ul class=`w-1/2 max-w-[700px] max-h-1/2 min-h-[${postsCount * 32}px] p-[3px]`>
				{
					posts.map((post) => (
						<li class="h-1/14 min-h-[32px]">
							<a href={`${import.meta.env.BASE_URL}/blog/${post.id}/`} class="h-full">
								<div class="flex h-full">
									<h4 class="title flex-none text-(--panel-main-foreground) self-end">{post.data.title}</h4>
									<div class="h-full flex-auto mx-[10px] py-[5px] flex">
										<hr class="text-(--panel-main-foreground) flex-auto self-end">
									</div>
									<p class="date text-(--panel-main-foreground) self-end">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</div>
							</a>
						</li>
					))
				}
			</ul>
		</main>
		<Footer class="flex-none"/>
	</body>
</html>
