---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import HomeSearch from '../components/HomeSearch.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0, 5);

// const postsCount = posts.length > 5 ? 5 : posts.length;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class:list={[
		"h-screen w-screen",
		"flex flex-col"]}>
		<main class:list={[
			"w-full",
			"flex-auto",
			"flex flex-col",
			"items-center",
			"justify-center",
			"bg-(--panel-main)", ]}>
			<div class:list={[
				"w-1/2 min-w-[360px] max-w-[700px]",
				"h-1/20 min-h-[60px]"]}>
				<HomeSearch />
			</div>
			<ul class:list={[
				"w-1/2 min-w-[360px] max-w-[700px]",
				`h-[${5 * 32}px]`,
				"p-[3px]"]}>
				{
					posts.map((post) => (
						<li class:list={["h-1/14", "min-h-[32px]"]}>
							<a href={`${import.meta.env.BASE_URL}/blog/${post.id}/`} class="h-full">
								<div class="flex h-full">
									<h6 class:list={[
										"flex-none  self-end", 
										"text-(--panel-main-foreground)"]}>
										{post.data.title}
									</h6>
									<div class:list={[
										"h-full", 
										"flex flex-auto",
										"mx-[10px] py-[5px]",]}>
										<hr class:list={[
											"flex-auto self-end", 
											"text-(--panel-main-foreground)"]}>
									</div>
									<p class:list={[
										"self-end", 
										"text-(--panel-main-foreground)",
										"date"]}>
										<FormattedDate date={post.data.pubDate} />
									</p>
								</div>
							</a>
						</li>
					))
				}
			</ul>
		</main>
		<Footer class="flex-none"/>
	</body>
</html>
