---
import './blog.css';

import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import HeaderSearch from '../components/HeaderSearch.astro';
import { Icon } from "astro-icon/components";
import type { MarkdownHeading } from 'astro';
import TableOfContents from '../components/TableOfContents.astro';
import { getDirectoryTree } from './blog.ts';
const tree = getDirectoryTree('src/content/blog');

type Props = CollectionEntry<'blog'>['data'] & { headings: MarkdownHeading[] };;

const { title, description, pubDate, updatedDate, heroImage, headings } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
			}
			.title {
				padding: 10px 0;
				margin-bottom: 20px;
				text-align: center;
				font-size: xx-large;
				justify-self: baseline;
			}
			.title h1 {
				margin: 0 0 0 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
				justify-self: baseline;
				font-size: small;
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body class="h-screen w-full flex flex-col">
		<div class="h-18 m-[0] px-[10px] fixed w-full
			bg-(--panel-main) 
			shrink-0 flex items-center justify-center">
			<div class="h-1/2 w-full items-center flex flex-col justify-center justify-center">
				<div class="w-1/4 max-w-[700px] p-[5px] bg-(--bar-main) shadow-md rounded-[5px] p-[5px]">
					<HeaderSearch />
				</div>
			</div>
		</div>
		<main class="w-full bg-(--panel-main) flex-1 flex justify-center">
			<div id="blog-toc" class="w-[300px] text-(--foreground) mt-[80px] mr-[50px] flex-none">
				<div class="w-[300px] fixed ">
					<h1>📁 Blog Directory Structure</h1>

					<ul>
						{tree.map((node) => (
							<li>
								{node.type === 'directory' ? `📂 ${node.name}` : `📄 ${node.name}`}
								{node.children && (
									<ul>
										{node.children.map((child) => (
											<li>
												{child.type === 'directory' ? `📂 ${child.name}` : `📄 ${child.name}`}
											</li>
										))}
									</ul>
								)}
							</li>
						))}
					</ul>
				</div>
			</div>
			<article class="text-(--bar-main-foreground) mt-[80px]">
				<!-- <div class="hero-image">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
				</div> -->
				<div class="prose">
					<div class="title">
						<h1 class="text-[50px]">{title}</h1>
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
					</div>
					<div id="blog-content">
						<slot />
					</div>
				</div>
			</article>
			<div id="blog-toc" class="w-[300px] mt-[80px] text-(--foreground) ml-[50px] flex-none">
				<div class="w-[300px] fixed ">
					<TableOfContents headings={ headings } />
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
